.dashboard-title {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
}

.live-price {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #0bc2cf;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.signal-block {
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #111;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}

.signal-pill {
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.strong-pill {
    background-color: #28a745;
    color: white;
}

.medium-pill {
    background-color: #ffc107;
    color: black;
}

.weak-pill {
    background-color: #6c757d;
    color: white;
}
